body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #7AB8EF;
}

.nav {
    background-color: #ff4d00;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.nav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    padding-right: 30px;
    text-decoration: none;
    font-size: 18px;
}

.nav a:hover {
    color: rgb(227, 216, 216);
}

.nav #logo {
    float: left;
    padding-left: 25px;
}

.home h1 {
    text-align: center;
    font-size: 70px;
    padding-top: 100px;
}

.home p {
    text-align: center;
    font-size: 45px;
    font-weight: normal;
}

.games-container {
    text-align: center;
}

#games {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#games tr {
    text-align: center;
}

#games td {
    width: 24%;
    padding-left: 60px;
    padding-right: 60px;
}

.game-title {
    font-weight: normal;
    text-align: center;
}