body {
    font-family: 'Lexend Deca', sans-serif;
}


.home h1 {
    text-align: center;
    font-size: 70px;
}

.home p {
    text-align: center;
    font-size: 45px;
    font-weight: normal;
}

.games-container {
    text-align: center;
}

#games {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#games tr {
    text-align: center;
}

#games td {
    width: 25%;
}

.game-title {
    font-weight: normal;
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
}
