.top {
    text-align: center;
    font-size: 70px;
    font-weight: normal;
}

.games {
    border-collapse: collapse;
    width: 100%;
}

.games td {
    padding: 15px;
    text-align: center;
}

.game-title {
    font-weight: normal;
}