.top {
    text-align: center;
    font-size: 80px;
}

.games {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 24%;
    padding: 10px;
    text-align: center;
}

#img1 {
    width: 80px;
    height: 80px;
}